name: nc_photos
description: Gallery app for viewing your photos hosted on Nextcloud servers

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.72.0+7200

environment:
  sdk: ">=3.3.0 <4.0.0"
  flutter: ">=3.19.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  # android only
  android_intent_plus:
    git:
      url: https://gitlab.com/nc-photos/plus_plugins
      ref: android_intent_plus-v3.1.1-nc-photos-1
      path: packages/android_intent_plus
  battery_plus: ^4.0.1
  bloc_concurrency: ^0.2.5
  cached_network_image: ^3.3.1
  cached_network_image_platform_interface: any
  circular_reveal_animation: ^2.0.1
  clock: ^1.1.1
  collection: ^1.18.0
  connectivity_plus: ^3.0.6
  copy_with:
    git:
      url: https://gitlab.com/nkming2/dart-copy-with
      path: copy_with
      ref: copy_with-1.3.0
  crypto: ^3.0.3
  devicelocale: ^0.7.1
  device_info_plus: ^10.1.2
  draggable_scrollbar:
    git:
      url: https://gitlab.com/nc-photos/flutter-draggable-scrollbar
      ref: v0.1.0-nc-photos-8
  dynamic_color: ^1.7.0
  equatable: ^2.0.5
  event_bus: ^2.0.0
  exifdart:
    git:
      url: https://gitlab.com/nc-photos/exifdart.git
      ref: 1.3.0
  flex_seed_scheme: ^1.5.0
  fluttertoast: ^8.2.5
  flutter_background_service:
    git:
      url: https://gitlab.com/nc-photos/flutter_background_service.git
      ref: v0.2.6-nc-photos-3
  flutter_bloc: ^8.1.5
  flutter_cache_manager: any
  flutter_colorpicker: ^1.1.0
  flutter_isolate: ^2.0.4
  flutter_secure_storage: ^9.2.2
  flutter_staggered_grid_view:
    git:
      url: https://gitlab.com/nc-photos/flutter_staggered_grid_view
      ref: v0.4.0-nc-photos-2
  flutter_typeahead: ^4.0.0
  google_maps_flutter: 2.5.3
  http: ^1.1.2
  image_size_getter:
    git:
      url: https://gitlab.com/nc-photos/dart_image_size_getter
      ref: 1.0.0-nc-photos-2
      path: library
  intl: 0.18.1
  kiwi: ^4.1.0
  local_auth: ^2.2.0
  logging: ^1.2.0
  memory_info: ^0.0.4
  mime: ^1.0.5
  mutex: ^3.1.0
  native_device_orientation: ^2.0.3
  nc_photos_plugin:
    path: ../plugin
  np_api:
    path: ../np_api
  np_async:
    path: ../np_async
  np_codegen:
    path: ../codegen
  np_common:
    path: ../np_common
  np_collection:
    path: ../np_collection
  np_datetime:
    path: ../np_datetime
  np_db:
    path: ../np_db
  np_geocoder:
    path: ../np_geocoder
  np_gps_map:
    path: ../np_gps_map
  np_http:
    path: ../np_http
  np_log:
    path: ../np_log
  np_math:
    path: ../np_math
  np_platform_image_processor:
    path: ../np_platform_image_processor
  np_platform_lock:
    path: ../np_platform_lock
  np_platform_log:
    path: ../np_platform_log
  np_platform_message_relay:
    path: ../np_platform_message_relay
  np_platform_permission:
    path: ../np_platform_permission
  np_platform_raw_image:
    path: ../np_platform_raw_image
  np_platform_util:
    path: ../np_platform_util
  np_string:
    path: ../np_string
  np_ui:
    path: ../np_ui
  np_universal_storage:
    path: ../np_universal_storage
  octo_image: any
  page_view_indicators: ^2.0.0
  path: ^1.8.3
  path_provider: ^2.1.3
  provider: any
  rxdart: ^0.27.7
  screen_brightness:  ^1.0.1
  shared_preferences: ^2.2.3
  shared_preferences_platform_interface: any
  sliver_tools: ^0.2.12
  smooth_corner: ^1.1.0
  to_string:
    git:
      url: https://gitlab.com/nkming2/dart-to-string
      ref: to_string-1.0.0
      path: to_string
  url_launcher: ^6.2.6
  uuid: ^4.5.1
  video_player:
  video_player_platform_interface:
  # later versions broken with flutter 3.22, do not upgrade
  visibility_detector: 0.3.3
  wakelock_plus: ^1.1.1
  woozy_search: ^2.0.3

dependency_overrides:
  video_player:
    git:
      url: https://gitlab.com/nc-photos/flutter-plugins
      ref: video_player-v2.8.6-nc-photos-2
      path: packages/video_player/video_player
  video_player_android:
    git:
      url: https://gitlab.com/nc-photos/flutter-plugins
      ref: video_player-v2.8.6-nc-photos-2
      path: packages/video_player/video_player_android
  video_player_platform_interface:
    git:
      url: https://gitlab.com/nc-photos/flutter-plugins
      ref: video_player-v2.8.6-nc-photos-2
      path: packages/video_player/video_player_platform_interface
  # fix google_maps_cluster_manager
  google_maps_flutter_android: 2.7.0
  google_maps_flutter_platform_interface: 2.5.0

dev_dependencies:
  test: ^1.22.1
  bloc_test: any
  build_runner: ^2.4.9
  copy_with_build:
    git:
      url: https://gitlab.com/nkming2/dart-copy-with
      path: copy_with_build
      ref: copy_with_build-1.7.0
  drift: 2.15.0
  flutter_test:
    sdk: flutter
  # integration_test:
  #   sdk: flutter
  np_codegen_build:
    path: ../codegen_build
  np_db_sqlite:
    path: ../np_db_sqlite
  np_lints:
    path: ../np_lints
  to_string_build:
    git:
      url: https://gitlab.com/nkming2/dart-to-string
      ref: to_string_build-1.0.0
      path: to_string_build

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages

  generate: true
